/* Set default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Set full width and height for HTML and body elements */
html,
body {
  width: 100%;
  height: 100%;
}

/* Set styles for the main container */
#main {
  width: 100%;
  background-color: #ffffff;
}

/* Set styles for the home section */
#home {
  width: 100%;
  min-height: 100vh;
}

/* Set styles for the navigation bar in the home section */
#home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vh 5vw;
}

/* Set styles for links in the navigation bar */
#home-nav a {
  text-decoration: none;
  font-size: 3.5vh;
  font-weight: 700;
  color: #000000;
}

/* Set styles for the menu button in the navigation bar */
#home-nav #nav-menu {
  display: flex;
  align-items: center;
  gap: 3vw;
}

/* Set styles for links in the menu */
#home-nav #nav-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 2.25vh;
  word-spacing: -0.5px;
}

/* Set styles for the menu icon */
#home-nav button {
  margin-top: 2px;
  font-size: 2.25vh;
  font-weight: 600;
  word-spacing: -0.5px;
  padding: 1vw 2vw;
  border-radius: 100px;
  border: #fdf2f2 2px solid;
  background-color: white;
}

#home #home-hero {
  width: 100%;
  padding: 25vh 14vw;
}

#home-hero h1 {
  font-weight: 400;
  font-size: 3vw;
  letter-spacing: -0.1vw;
}

.headings {
  display: flex;
  gap: 1.25vw;
}

#home-hero .headings h1 {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: -0.1vw;
  line-height: 6vw;
}

#home-para {
  padding: 5vh 14vw;
}

#home-para p {
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 2.75vw;
}

#home-para p::selection {
  background-color: #000000;
  color: #ffffff;
}

#features {
  padding: 2vw 14vw;
}

#features h1 {
  font-size: 4vw;
  font-weight: 700;
}

#f-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-top: 5vw;
}

#f-text {
  overflow: hidden;
  width: 40%;
  height: inherit;
}

#f-text .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: inherit;
}

#f-text .text h1 {
  font-size: 3vw;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  margin: 2vw 0;
}
#f-text .text h4 {
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 2.75vw;
  opacity: 0.5;
}

#f-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: inherit;
}

#f-img .images {
  width: 90%;
  height: 80%;
  background-color: green;
}
