/* Set default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Set full width and height for HTML and body elements */
html,
body {
  width: 100%;
  height: 100%;
}

/* Set styles for the main container */
#main {
  width: 100%;
  background-color: #ffffff;
}

/* Set styles for the home section */
#home {
  width: 100%;
  min-height: 100vh;
}

/* Set styles for the navigation bar in the home section */
#home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vh 5vw;
}

/* Set styles for links in the navigation bar */
#home-nav a {
  text-decoration: none;
  font-size: 3.5vh;
  font-weight: 700;
  color: #000000;
}

/* Set styles for the menu button in the navigation bar */
#home-nav #nav-menu {
  display: flex;
  align-items: center;
  gap: 3vw;
}

/* Set styles for links in the menu */
#home-nav #nav-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 2.25vh;
  word-spacing: -0.5px;
}

/* Set styles for the menu icon */
#home-nav i {
  margin-top: 2px;
  font-size: 2.5vh;
}

#home #home-hero {
  width: 100%;
  padding: 25vh 14vw;
}

#home-hero h1 {
  font-weight: 400;
  font-size: 3vw;
  letter-spacing: -0.1vw;
}

.headings {
  display: flex;
  gap: 1.25vw;
}

#home-hero .headings h1 {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  font-size: 4.9vw;
  font-weight: 900;
  letter-spacing: -0.1vw;
  line-height: 1.5;
}

#home-para {
  padding: 1vh 14vw;
}

#home-para p {
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 1.25;
}

#home-para p::selection {
  background-color: #000000;
  color: #ffffff;
}
